<div class="main-bg custom-background h-100">
  <div class="container mt-3">
    <% if @group.errors.any? %>
      <%= @group.errors.count %>件のエラーが発生しました
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row pt-4 justify-content-center">
      <h3>グループ作成画面</h3>
    </div>
    <div class="row">
      <div class="col-md-4 ml-5 mt-4">
        <%= render "public/users/profile", user: @user %>
      </div>
      <div class="col-md-5 offset-md-1 mt-4">
        <%= form_with model: @group, url: groups_path, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name, "グループ名" %>
            <%= f.text_field :name, placeholder: "2文字以上10文字以内", class: "form-control", autofocus: true, autocomplete: "name" %>
          </div>
          <div class="form-group mt-3">
            <%= f.label :group_image, "グループ画像" %>
            <%= f.file_field :group_image, accept: "image/*", class: "form-control-file" %>
          </div>
          <div class="form-group mt-3">
            <%= f.label :introduction, "紹介文" %>
            <%= f.text_area :introduction, placeholder: "20文字以内", class: "form-control", rows: 4, autocomplete: "name" %>
          </div>
          <div class="form-group mt-5 text-right">
            <%= f.submit "作成する", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
