<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4">
      <h2>グループ詳細画面</h2>
      
      <table class="table table-bordered text-center mt-4">
        <tr>
          <td class="text-center" colspan="2">
            <%= image_tag @user.get_profile_image(150, 150), class: "img-fluid rounded-circle" %>
          </td>
        </tr>
        <tr>
          <td class="col-5 text-center">ユーザー名</td>
          <td class="text-center"><%= @user.name %></td>
        </tr>

      </table>

        <div class="mt-4">
          <% if @group.is_owned_by?(current_user) %>
              <%= link_to edit_user_group_path(current_user.id, @group.id), class: "btn btn-success w-100" do %>
                <i class="fa-solid fa-edit"></i> 編集する
              <% end %>
            
          
        </div>


      <div class="mt-4">
        <%= link_to new_vegetable_path, class: "btn btn-primary btn-block" do %>
          <i class="fa-solid fa-pen"></i> 新規投稿
        <% end %>
      </div>

      <div class="mt-4">
        <%= link_to user_groups_path(@user.id), class: "btn btn-secondary btn-block" do %>
          <i class="fa-solid fa-user-group"></i> グループ
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="col-md-7 offset-md-1 mt-5">
      <table class="table table-bordered mt-3 text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">画像</th>
            <th scope="col">グループ名</th>
            <th scope="col">紹介文</th>
            <th scope="col">グループ人数</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= image_tag @group.get_group_image(100, 100) %></td>
              <td>
  
                  <%= @group.name %>
                
              </td>
              <td><%= @group.introduction %></td>
              <td>数</td>
            </tr>
  
        </tbody>
      </table>
    </div>
  </div>
</div>
