<div class="container">
  <div class="row">
      <h2>グループ詳細画面</h2>
      </div>

    <div class="row">

 <div class="col-md-3 mt-4">
      <table class="table table-bordered text-center mt-4">
        <tr>
          <td class="text-center" colspan="2">
            <%= image_tag @user.get_profile_image(150, 150), class: "img-fluid rounded-circle" %>
          </td>
        </tr>
        <tr>
          <td class="col-5 text-center">ユーザー名</td>
          <td class="text-center"><%= @user.name %></td>
        </tr>
      </table>

      <div class="mt-4">
        <% if @group.is_owned_by?(current_user) %>
          <%= link_to group_path(@group.id), class: "btn btn-secondary btn-block" do %>
            <i class="fa-solid fa-user-group"></i> グループ
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-7 mt-5">
      <table class="table table-bordered mt-3 text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">グループ画像</th>
            <th scope="col">グループ名</th>
            <th scope="col">紹介文</th>
            <th scope="col">グループ人数</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @group.get_group_image(100, 100) %></td>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td><%= @group.group_users.count %></td>
            <td>
               <% if @group.is_owned_by?(current_user) %>
                  <%= link_to "編集", edit_group_path(@group), class: "btn btn-sm btn-success" %>

                <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered mt-3 text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">ユーザー画像</th>
            <th scope="col">ユーザー名</th>
            <th scope="col">ボタン</th>
          </tr>
        </thead>
        <tbody>
          <% @group.users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100, 100) %></td>
              <td><%= user.name %></td>
              <td>
                <% if @group.is_owned_by?(current_user) %>
                  <%= link_to '編集', edit_group_path(@group), class: "btn btn-sm btn-success" %>
                <% elsif @group.users.include?(current_user) %>
                  <%= link_to '不参加', group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
                <% else %>
                  <%= link_to '参加', group_group_users_path(@group), method: :post, class: "btn btn-sm btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
