<div class="container">
  <%= render 'layouts/error', vegetable: @vegetable %>
  <div class="row">
    <h2 class="title text-center mt-4">野菜投稿Editページ</h2>
  </div>

  <div class="row">
    <div class="col-md-2 text-center">
      <%= image_tag @vegetable.get_image(150, 150), class: "img-fluid" %>
      <%= form_with model: @vegetable do |f| %>
      <%= f.file_field :image %>
    </div>

    <div class="col-md-10">
      <div class="row">
        <div class="col-3"></div>
        <h5 class="col-3">名前</h5>
        <div class="col-4">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <h5 class="col-3">ジャンル</h5>
        <div class="col-4">
          <%= f.select :genre_id, options_from_collection_for_select(@genres, :id, :name, selected: @vegetable.genre_id), { include_blank: '選択してください' }, class: "form-control fs-4" %>
        </div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <h5 class="col-3">説明文</h5>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-md-8">
          <%= f.text_area :body, rows: 10, style: "width: 100%", class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 d-flex justify-content-between">
  <div class="col-md-3">
    <%= link_to vegetable_path(@vegetable.id), class: "btn btn-success w-100" do %>
      <i class="fa-solid fa-delete-left"></i> 戻る
    <% end %>
  </div>

  <div class="col-md-3">
  <%= button_tag(type: 'submit', class: "btn btn-primary w-100") do %>
    <i class="fa-solid fa-arrows-rotate"></i> 更新する
  <% end %>
  </div>
  <% end %>

  <div class="col-md-3">
    <%= link_to vegetable_path(@vegetable.id), class: "btn btn-danger w-100", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
      <i class="fa-solid fa-trash"></i> 削除
    <% end %>
  </div>
</div>

</div>
