<div style="margin-right: -8px;margin-top: 15px;">
  <%= render "layouts/search", url: search_path if user_signed_in? %>
</div>
  <div class="container">
    <div class="row mt-5">
    <h2 class="title">投稿一覧画面</h2>
  </div>

    <table class="table table-bordered mt-4 text-center">
     <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 15%;">ユーザー画像</th>
        <th scope="col" style="width: 25%;">ユーザー名</th>
        <th scope="col" style="width: 15%;">画像</th>
        <th scope="col" style="width: 25%;">名前</th>
        <th scope="col" style="width: 10%;">いいね数</th>
        <th scope="col" style="width: 10%;">コメント数</th>
      </tr>
    </thead>
    <tbody>
      <% @vegetables.each do |vegetable| %>
      <tr>
        <td class="text-center"><%= image_tag vegetable.user.get_profile_image(80, 80) %></td>
        <td class="text-center"><%= link_to user_path(vegetable.user_id) do %>
          <%= vegetable.user.name %></td>
          <% end %>
        <td class="text-center"><%= image_tag vegetable.get_image(80, 80) %></td>
        <td class="text-center"><%= link_to vegetable_path(vegetable.id) do %>
            <%= vegetable.name %>
            <% end %>
        </td>
        <td id="favorite_btn_<%= vegetable.id %>">
          <%= render "public/favorites/favorite_btn", vegetable: vegetable %>
        </td>
        <td class="text-center"><%= vegetable.comments.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>