    <div class="container">


      <div class="row">
        <div class="col-12 mt-3">
        <div class="parent-element mb-2">
            <div class="child-element">
              <%= render "layouts/search" %>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
          <h2 class="col mt-5">投稿一覧</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">ユーザー名</th>
              <th scope="col">画像</th>
              <th scope="col">名前</th>
              <th scope="col">いいね</th>
              <th scope="col">コメント数</th>
            </tr>
          </thead>
          <tbody>
            <% @vegetables.each do |vege| %>
            <tr>
              <th scope="row"></th>
              <td><%= link_to user_path(vege.user_id) do %>
                <%= vege.user.name %></td>
                <% end %>
              <td><%= image_tag vege.get_image(100, 100) %></td>
              <td><%= link_to vegetable_path(vege.id) do %>
                  <%= vege.name %>
                  <% end %>
              </td>
              <% if vege.favorited_by?(current_user) %>
                <td class="text-center">
                  <%= link_to "♥ #{vege.favorites.count}", vegetable_favorite_path(vege), method: :delete %>
                </td>
              <% else %>
                <td>
                  <%= link_to "♡ #{vege.favorites.count}", vegetable_favorite_path(vege), method: :post %>
                </td>
              <% end %>
              <td>仮コメント数</td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>