<div class="main-bg custom-background h-100">
  <div class="container">
    <%= render 'layouts/error', vegetable: @vegetable %>
    <div class="row pt-5">
      <h2 class="col-9">新規投稿画面</h2>
    </div>

    <div class="row">
      <div class="col-md-4 mt-4">
        <%= render "public/users/profile", user: @user %>
      </div>
      <div class="col-md-5 offset-1 mt-5">
        <%= form_with model: @vegetable, local:true do |f| %>
          <!-- 投稿名 -->
          <div class="from-group">
            <%= f.label :name, "投稿名" %>
            <%= f.text_field :name, placeholder: "15文字以内", class: "form-control", autofocus: true, autocomplete: "name" %>
          </div>
          <!-- 画像  -->
          <div class="form-group mt-3">
            <%= f.label :image, "画像" %>
            <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
          </div>
          <!-- ジャンル -->
          <div class="form-group mt-3">ジャンル</div>
          <div>
            <%= f.select :genre_id, options_from_collection_for_select(@genres, :id, :name), { include_blank: '選択してください' }, class: "form-control fs-4" %>
          </div>
          <!-- 説明文 -->
          <div class="form-group mt-3">
            <%= f.label :body, "説明文" %>
            <%= f.text_area :body, placeholder: "50文字以内", class: "form-control", rows: 4, autofocus: true, autocomplete: "body" %>
          </div>
          <!-- 下書き・投稿 -->
          <div class="form-group mt-3">
             <%= f.submit '下書き保存する', :name => 'draft', class: 'mr-5 btn btn-info' %>
          </div>
          <div class="form-group mt-5 text-right">
            <%= f.submit '投稿する', :name => 'post', class: "btn btn-success btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>