
<div class="container">
  <div class="row">
      <h1 class="title">新規投稿画面</h1>
  </div>

  <div class="row mt-4">
    <h4 class="col-2">ユーザー名</h4>
    <h4 class="col-3"><%= @user.name %></h4>
  </div>
  <div class="row mt-5">
    <div class="col-md-2">
        <div class="ml-3">
          <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle" %>
        </div>
    </div>

<div class="col-md-9 offset-md-1">
  <%= form_with model: @vegetable, url: vegetables_path, method: :post do |f| %>
    <div class="row mb-5">
      <div class="col-md-4">
        <%= f.label :vege_name, "野菜名" %>
        <%= f.text_field :vege_name, class: "form-control", autofocus: true, autocomplete: "vege_name" %>
      </div>
      <div class="col-md-5">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-3 fs-4">ジャンル</div>
      <div class="col-5">
        <%= f.select :genre_id, options_from_collection_for_select(@genres, :id, :name), { include_blank: '選択してください' }, class: "form-control fs-4" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8">
        <%= f.label :body, "説明文" %>
        <%= f.text_area :body, class: "form-control", rows: 4, autofocus: true, autocomplete: "body" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8 text-center">
        <%= f.submit "投稿する", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>