<div class="container">
  <div class="row">
    <h2 class="title text-center mt-4">投稿showページ</h2>
  </div>

  <div class="row mt-4">
    <h4 class="col-2">ユーザー名</h4>
    <h4 class="col-3"><%= @vegetable.user.name %></h4>
  </div>
  <div class="row mt-5">
    <div class="col-md-2 text-center">
      <%= image_tag @vegetable.get_image(250, 250), class: "img-fluid" %>
    </div>

    <div class="col-md-10">
      <div class="row mb-3">
        <div class="col-3"></div>
        <h4 class="col-3">野菜名</h4>
        <h4 class="col-4"><%= @vegetable.vege_name %></h4>
      </div>

      <div class="row mt-4">
        <div class="col-3"></div>
        <h4 class="col-3">ジャンル</h4>
        <h4 class="col-4"><%= @vegetable.genre.name %></h4>
      </div>

      <div class="row mt-4">
        <div class="col-3"></div>
        <h4 class="col-3">説明文</h4>
        <h4 class="col-4"><%= @vegetable.body %></h4>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-3">
      <%= link_to my_page_path(@user.id), class: "btn btn-success form-control" do %>
        <i class="fa-solid fa-delete-left"></i> グループ
      <% end %>
    </div>
    <% if @vegetable.user == current_user %>
    <div class="col-md-3">
      <%= link_to edit_vegetable_path(@vegetable.id), class: "btn btn-success form-control" do %>
        <i class="fa-regular fa-pen-to-square"></i> 投稿編集・削除
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to root_path, class: "btn btn-success form-control" do %>
        <i class="fa-regular fa-comment"></i> コメント
      <% end %>
    </div>
    <% end %>
  </div>
</div>

