<div class="main-bg custom-background h-100">
  <div class="container">
    <div class="row pt-5 justify-content-center">
        <h2>投稿詳細画面</h2>
    </div>

    <div class="row">
      <!-- ユーザー情報 -->
      <div class="col-md-4 mt-3">
        <table class="table table-bordered text-center">
         <tr>
          <td class="text-center" colspan="2">
            <%= "投稿ユーザー" %>
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="2">
            <%= image_tag @user.get_profile_image(150, 150), class: "img-fluid rounded-circle" %>
          </td>
        </tr>
        <tr>
          <td class="col-5 text-center">ユーザー名</td>
          <td class="text-center">
            <% if @user == current_user %>
              <%= link_to @user.name, my_page_path(@user.id) %>
            <% else %>
              <%= link_to @user.name, user_path(@user.id) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="col-5 text-center">紹介文</td>
          <td class="text-center"><%= @user.introduction %></td>
        </tr>
      </table>
        <!-- コメントフォーム -->
        <div class="mb-5 mt-3">
          <h5>投稿にコメントを送る</h5>
        <div id="comment-form">
          <%= render "public/comments/form", vegetable: @vegetable, comment: @comment %>
        </div>
        </div>
      </div>
      <!-- 右半分 (投稿詳細情報) -->
      <div class="col-md-7 mt-2">
        <table class="table table-bordered text-center mt-2">
          <tr>
            <td class="text-center" colspan="2">
              <%= image_tag @vegetable.get_image(150, 150), class: "img-fluid" %>
            </td>
          </tr>
          <tr>
            <td class="col-4 text-center">投稿名</td>
            <td class="text-center"><%= @vegetable.name %></td>
          </tr>
          <tr>
            <td class="text-center">ジャンル</td>
            <td class="text-center"><%= @vegetable.genre.name %></td>
          </tr>
          <tr>
            <td class="text-center">説明文</td>
            <td><%= @vegetable.body %></td>
          </tr>
          <tr>
            <td class="text-center">いいね</td>
            <td id="favorite_btn_<%= @vegetable.id %>">
              <%= render "public/favorites/favorite_btn", vegetable: @vegetable %>
            </td>
          </tr>
          <tr>
            <td class="text-center">コメント数</td>
            <td id="comment_count">
               <%= render "public/comments/count", vegetable: @vegetable %>
          </tr>
        </table>
        <!-- ボタン -->
        <div class="row">
          <% if @user == current_user %>
            <div class="col-md-7">
              <table class="table table-bordered">
                <tr>
                  <td class="col-md-4 text-center">ステータス</td>
                  <td class="col-md-3 text-center">
                    <% if @vegetable.is_draft %>
                      <%= "未投稿" %>
                    <% else %>
                      <%= "投稿済" %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-5 d-flex justify-content-end  align-items-center">
              <%= link_to edit_vegetable_path(@vegetable.id), class: "btn text-white form-control", style: 'background-color: #FF9900;' do %>
                <i class="fa-regular fa-pen-to-square"></i> 編集・投稿・削除
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- コメント一覧 -->
    <div class="row mt-2 justify-content-center">
      <h3>コメント一覧</h3>
        <table class="table table-bordered mt-2 text-center">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 15%;">コメントユーザー</th>
              <th scope="col" style="width: 70%;">コメント</th>
              <th scope="col"></th> <!-- 削除ボタン用 -->
            </tr>
          </thead>
          <tbody id="comment_index">
            <%= render "public/comments/index", vegetable: @vegetable %>
          </tbody>
        </table>
    </div>
  </div>
</div>