
  <div class="row ml-5">
    <!-- 左半分 -->
    <div class="col-md-5">
      <h2 class="title text-center mt-4">投稿詳細画面</h2>

      <!-- ユーザー名表示 -->
      <div class="row">
        <div class="col-1"></div>
        <h4 class="col-md-3">ユーザー名</h4>
        <h4 class="col-md-8">
          <%= link_to user_path(@vegetable.user) do %>
            "<%= @vegetable.user.name %>"さん
          <% end %>
        </h4>
      </div>

      <!-- プロフィール画像 -->
      <div class="col-5">
<table class="table table-bordered" style="text-center">
  <tr>
    <td class="text-center" colspan="2">
      <%= image_tag @vegetable.user.get_profile_image(150, 150), class: "img-fluid rounded-circle" %>
    </td>
  </tr>
  <tr>
    <td class="text-center">ユーザー名</td>
    <td class="text-center"><%= @vegetable.user.name %></td>
  </tr>
  <tr>
    <td class="text-center">いいね</td>
    <td class="text-center">
      <% if @vegetable.favorited_by?(current_user) %>
        <%= link_to "❤ #{@vegetable.favorites.count}", vegetable_favorite_path(@vegetable), method: :delete, data: { confirm: "この野菜のいいねを外しますか？" }, class: "text-danger" %>
      <% else %>
        <%= link_to "♡ #{@vegetable.favorites.count}", vegetable_favorite_path(@vegetable), method: :post, class: "text-muted" %>
      <% end %>
    </td>
  </tr>
</table>
</div>


      <!-- 野菜画像と情報 -->
      <div class="row mb-3">
        <!-- 野菜画像 -->
        <div class="col-md-4 text-center mt-5">
          <%= image_tag @vegetable.get_image(150, 150), class: "img-fluid" %>
        </div>

        <!-- 野菜情報 -->
        <div class="col-md-8">
          <div class="row mt-4">
            <h4 class="col-md-3">名前</h4>
            <h4 class="col-md-9"><%= @vegetable.name %></h4>
          </div>
          <div class="row">
            <h4 class="col-md-3">ジャンル</h4>
            <h4 class="col-md-9"><%= @vegetable.genre.name %></h4>
          </div>
          <div class="row">
            <h4 class="col-md-3">説明文</h4>
            <h4 class="col-md-9"><%= @vegetable.body %></h4>
          </div>
        </div>
      </div>

      <!-- 遷移ボタン -->
      <div class="row">
        <% if @user == current_user %>
        <div class="col-md-4">
          <%= link_to edit_vegetable_path(@vegetable.id), class: "btn btn-warning form-control" do %>
            <i class="fa-regular fa-pen-to-square"></i> 投稿編集・削除
          <% end %>
        </div>
        <% end %>
      </div>

      <!-- コメントフォーム -->
      <div class="mb-5 mt-3">
        <%= form_with model: @comment, url: vegetable_comments_path(@vegetable.id), local: true do |f| %>
          <%= f.text_area :body, rows: '5', placeholder: "コメント記入", class: "w-100 mb-3" %>
          <div class="d-flex justify-content-end">
          <%= button_tag(type: 'submit', class: "btn btn-primary w-95") do %>
            <i class="fa-solid fa-arrows-rotate"></i> 送信する
          <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- 右半分 (コメント一覧) -->
    <div class="col-md-6 ml-5">
      <h3 class="text-center mt-5">コメント一覧</h3>
      <table class="table table-bordered mt-3 text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">ユーザー</th>
            <th scope="col">コメント</th>
            <th scope="col"></th>  <!-- 削除ボタンが表示される  -->
          </tr>
        </thead>
        <tbody>
          <% @vegetable.comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to user_path(comment.user) do %>
                <%= image_tag comment.user.get_profile_image(50, 50) %><br>
                <%= comment.user.name %>
              <% end %>
            </td>
            <td><%= comment.body %></td>
            <td>
              <% if comment.user == current_user %>
                <%= link_to "削除", vegetable_comment_path(@vegetable, comment), method: :delete, class: "btn btn-sm btn-danger float-end" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>