<div class="container">
  <% if @records.present? %>
    <% if @model == 'user' %>
      <h4 class="mb-2 mt-4">ユーザー検索結果 "<%= @content %>"</h4>
      <%= render 'layouts/search_user', users: @records %>
    <% elsif @model == 'vegetable' %>
      <h4 class="mb-2 mt-4">投稿名の検索結果 "<%= @content %>"</h4>
      <%= render 'layouts/search_vegetable', vegetables: @records %>
    <% elsif @model == 'group' %>
      <h4 class="mb-2 mt-4">グループ名の検索結果 "<%= @content %>"</h4>
      <%= render 'layouts/search_group', groups: @records %>
    <% end %>
  <% else %>
    <% if @model == 'user' %>
      <h4 class="text-center mb-2 mt-5">該当するユーザーはいませんでした</h4>
      <%= image_tag "ojigi_neko.png", size: "250x250", class: "img-fluid mx-auto d-block" %>
    <% elsif @model == 'vegetable' %>
      <h4 class="text-center mb-2 mt-5">該当する投稿は見つかりませんでした</h4>
       <%= image_tag "ojigi_kuma.png", size: "250x250", class: "img-fluid text-center mx-auto d-block" %>
    <% elsif @model == 'group' %>
      <h4 class="text-center mb-2 mt-5">該当するグループは見つかりませんでした</h4>
       <%= image_tag "ojigi_inu.png", size: "250x250", class: "img-fluid text-center mx-auto d-block" %>
    <% end %>
  <% end %>
</div>
