<div class="container">
  <div class="row mt-3">
    <h2 class="col mt-4">ジャンル一覧・追加画面</h2>
  </div>

  <div class="row mt-3">
    <!-- フォームの部分 -->
    <div class="col-md-5 mt-4">
      <%= form_with model: @genre, url: admin_genres_path, method: :post, local: true do |f| %>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="genre_name">ジャンル名</label>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control", id: "genre_name" %>
          </div>
        </div>

        <div class="row mt-3 text-center">
          <div class="col-sm-6 offset-sm-7 mt-2">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- ジャンルテーブル -->
    <div class="col-md-6 offset-md-1 mt-4">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="text-center">ジャンル</th>
            <th class="text-center">編集ボタン</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |g| %>
            <tr>
              <td class="p-2 text-center">
                <%= g.name %>
              </td>
              <td class="p-2 text-center">
                <%= link_to "編集する", edit_admin_genre_path(g), class: "btn btn-warning" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
