<%= render "public/shared/error_messages", resource: resource %>
  <div class="main-bg custom-background h-100">
    <div class="container">
      <%= form_with model: User.new, url: user_registration_path do |f| %>
        <div class="row pt-5">
          <div class="col">
            <h2>新規登録</h2>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-3 offset-3 text-end">
            <%= f.label :name, "名前" %>
          </div>
          <div class="col-3">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3 offset-3 text-end">
            <%= f.label :email, "メールアドレス" %>
          </div>
          <div class="col-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3 offset-3 text-end">
            <%= f.label :password, "パスワード(6文字以上)" %>
          </div>
          <div class="col-3">
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3 offset-3 text-end">
            <%= f.label :password_confirmation, "パスワード（確認用）" %>
          </div>
          <div class="col-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-3 offset-4">
            <%= f.submit "新規登録", class: "btn btn-success w-100" %>
          </div>
        </div>
      <% end %>

      <div class="row mt-5">
        <div class="col-12 text-center">
        <h4>既に会員登録がお済み方は
          <%= link_to "こちら", new_user_session_path %><%= "から新規登録を行ってください。" %>
        </h4>
      </div>
    </div>
  </div>
</div>
