<div style="margin-right: -8px;margin-top: 15px;">
  <%= render "layouts/search", url: admin_search_path %>
</div>

<div class="container">
  <div class="row">
    <h2 class="col mt-4">投稿一覧確認画面</h2>
  </div>
  <h5 class="row text-center mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 15%;">ユーザー名</th>
          <th scope="col" style="width: 10%;">画像</th>
          <th scope="col" style="width: 15%;">名前</th>
          <th scope="col" style="width: 10%;">ジャンル</th>
          <th scope="col" style="width: 40%;">説明文</th>
          <th scope="col" style="width: 10%;">削除</th>
        </tr>
      </thead>
      <tbody>
        <% @vegetables.each do |vege| %>
          <tr>
            <td><%= link_to vege.user.name, admin_user_path(vege.user_id) %></td>
            <td><%= image_tag vege.get_image(80, 80) %></td>
            <td><%= link_to vege.name, admin_vegetable_path(vege.id) %></td>
            <td><%= vege.genre.name %></td>
            <td><%= truncate(vege.body, length: 20) %></td> <!-- 文字数制限 -->
            <td><%= link_to admin_vegetable_path(vege), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                  <i class="fa-solid fa-trash"></i> 削除
                  <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </h5>
</div>
