<div class="container">
  <div class="row">
    <h2 class="title text-center mt-4">管理者投稿詳細確認画面</h2>
  </div>
  <!-- ユーザー名表示 -->
  <div class="row mb-3 align-items-center">
    <h4 class="col-md-2">ユーザー名</h4>
    <h4 class="col-md-8">
      <%= link_to user_path(@user) do %>
        "<%= @user.name %>"さん
      <% end %>
    </h4>
  </div>

  <!-- プロフィール画像と野菜情報 -->
  <div class="row mb-3">
    <!-- プロフィール画像 -->
    <div class="col-md-2 text-center">
      <%= image_tag @user.get_profile_image(250, 250), class: "img-fluid rounded-circle" %>
    </div>

    <!-- 野菜画像 -->
    <div class="col-md-2 text-center">
      <%= image_tag @vegetable.get_image(150, 150), class: "img-fluid rounded" %>
    </div>

    <!-- 野菜情報 -->
    <div class="col-md-8">
      <div class="row mb-2">
        <h4 class="col-md-3">名前</h4>
        <h4 class="col-md-9"><%= @vegetable.name %></h4>
      </div>

      <div class="row mb-2">
        <h4 class="col-md-3">ジャンル</h4>
        <h4 class="col-md-9"><%= @vegetable.genre.name %></h4>
      </div>

      <div class="row">
        <h4 class="col-md-3">説明文</h4>
        <h4 class="col-md-9"><%= @vegetable.body %></h4>
      </div>
    </div>
  </div>

  <!-- ボタン -->
  <div class="row mt-5">
    <div class="col-md-3">
      <%= link_to admin_vegetables_path, class: "btn btn-success form-control" do %>
        <i class="fa-regular fa-comment"></i> 管理者投稿一覧画面
      <% end %>
    </div>
    <div class="col-md-3">
        <%= link_to admin_vegetable_path(@vegetable.id), class: "btn btn-danger w-100", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
          <i class="fa-solid fa-trash"></i> 退会させる
        <% end %>
      </div>
  </div>
</div>

