<div class="container">
  <h2 class="row mt-5 text-center">投稿詳細確認画面</h2>
    <div class="row">
      <div class="col-5 mt-2">
      <!-- プロフィール画像 -->
       <%= render "public/users/profile", user: @user %>
      </div>

    <!-- 右半分 (投稿詳細情報) -->
    <div class="col-md-7 mt-4">

      <table class="table table-bordered text-center mt-2">
        <tr>
          <td class="text-center" colspan="2">
            <%= image_tag @vegetable.get_image(150, 150), class: "img-fluid" %>
          </td>
        </tr>
        <tr>
          <td class="col-4 text-center">投稿名</td>
          <td class="text-center"><%= @vegetable.name %></td>
        </tr>
        <tr>
          <td class="text-center">ジャンル</td>
          <td class="text-center"><%= @vegetable.genre.name %></td>
        </tr>
        <tr>
          <td class="text-center">説明文</td>
          <td><%= @vegetable.body %></td>
        </tr>
        <tr>
          <td class="text-center">いいね</td>
          <td class="text-center"><%= @vegetable.favorites.count %></td>
        </tr>
      </table>

           <!-- 削除ボタン -->
      <div class="row d-flex justify-content-end">
          <div class="col-md-5">
            <%= link_to admin_vegetable_path(@vegetable.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
              <i class="fa-regular fa-pen-to-square"></i> 投稿を削除する
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
