<div class="container">
  <h2 class="row mt-5 text-center">ユーザー確認画面</h2>

     <div class="row">
    <div class="col-md-4 mt-3">
      <table class="table table-bordered text-center mt-4">
        <tr>
          <td class="text-center" colspan="2">
            <%= "投稿ユーザー" %>
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="2">
            <%= image_tag @user.get_profile_image(150, 150), class: "img-fluid rounded-circle" %>
          </td>
        </tr>
        <tr>
          <td class="col-5 text-center">ユーザー名</td>
          <td class="text-center"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="col-5 text-center">紹介文</td>
          <td class="text-center"><%= @user.introduction %></td>
        </tr>
        <tr>
          <td class="text-center">メールアドレス</td>
          <td class="text-center"><%= @user.email %></td>
        </tr>
      </table>
    </div>
    <!-- 投稿詳細情報 -->
    <div class="col-md-7 mt-5">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col" style="width: 20%;">画像</th>
            <th scope="col" style="width: 30%;">名前</th>
            <th scope="col" style="width: 15%;">いいね</th>
            <th scope="col" style="width: 20%;">コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @vegetables.each_with_index do |vege| %>
            <tr>
              <td><%= image_tag vege.get_image(80, 80), class: "img-thumbnail" %></td>
              <td><%= link_to vege.name, admin_vegetable_path(vege.id) %></td>
              <td><%= vege.favorites.count %></td>
              <td><%= vege.comments.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
       <!-- 退会ボタン -->
  <div class="row d-flex justify-content-end">
      <div class="col-md-5">
        <%= link_to admin_user_path(@user.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に退会させますか？" do %>
          <i class="fa-regular fa-pen-to-square"></i> このユーザーを退会させる
        <% end %>
      </div>
  </div>
</div>



