
<div class="container">
  <div class="row">
    <div class="col">
      <h2>ログイン</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-4"><h4>会員の方はこちらからログイン</h4></div>
    <div class="col-1"></div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-2">メールアドレス</div>
    <div class="col-3"><div class="field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-2">パスワード</div>
    <div class="col-3"><div class="field">
      <%= f.password_field :password, autocomplete: "current-password" %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-3 py-1"><%= f.submit "ログイン", class: "btn btn-primary" %></div>
  </div>
  <% end %>

  <div class="row mt-5">
    <div class="col-1"></div>
    <h4 class="col-9">会員登録がお済みでない方は
    <%= link_to "こちら", new_user_registration_path %><%= "から新規登録を行ってください。" %>
    </h4>
  </div>

  <div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-5"><h4>ゲストユーザーはこちらからログイン</h4></div>
    <div class="col-3"><%= link_to "ログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %></div>
  </div>

</div>

<%#= render "public/shared/links" %>
