<div class="main-bg custom-background h-100">
  <div class="container">
    <div class="row pt-5 justify-content-center">
       <h2>マイページ</h2>
    </div>

    <div class="row">
      <div class="col-md-5">
        <%= render "public/users/profile", user: @user %>
        <% if @user.email != "guest@example.com" %>
          <div class="mt-4">
            <%= link_to edit_user_path(@user.id), class: "btn btn-block", style: "background-color: #FFCC99" do %>
              <i class="fa-solid fa-user-gear"></i> プロフィール編集・退会
            <% end %>
          </div>
          <div class="mt-4">
            <%= link_to new_vegetable_path, class: "btn btn-block", style: "background-color: #CCCC99;" do %>
              <i class="fa-solid fa-pen"></i> 新規投稿
            <% end %>
          </div>
          <div class="mt-4">
            <%= link_to new_group_path, class: "btn btn-block", style: "background-color: #99CC99;" do %>
              <i class="fa-solid fa-user-group"></i> グループ作成
            <% end %>
          </div>
          <div class="mt-4 mb-5">
            <%= link_to favorites_user_path(@user), class: "btn btn-block", style: "background-color: #66CC99;" do %>
              <i class="fa-solid fa-thumbs-up"></i> いいねをした投稿一覧・<i class="fa-solid fa-people-group"></i>グループ一覧
            <% end %>
          </div>
        <% end %>
      </div>
  <!-- 投稿一覧 -->
      <div class="col-md-7 mt-4">
        <h3 class="text-center">投稿一覧</h3>
        <table class="table table-bordered mt-3 text-center">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 10%;">画像</th>
              <th scope="col" style="width: 30%;">投稿名</th>
              <th scope="col" style="width: 15%;">ステータス</th>
              <th scope="col" style="width: 11%;">いいね数</th>
              <th scope="col" style="width: 11%;">コメント数</th>
            </tr>
          </thead>
          <tbody>
            <% @vegetables.each do |vegetable| %>
              <tr>
                <td><%= image_tag vegetable.get_image(80, 80) %></td>
                <td><%= link_to vegetable.name, vegetable_path(vegetable.id) %></td>
                <td><% if vegetable.is_draft %>
                    <%= "未投稿" %>
                    <% else %>
                    <%= "投稿済" %>
                    <% end %>
                </td>
                <td><%= vegetable.favorites.count %></td>
                <td><%= vegetable.comments.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>