<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <h1>マイページ</h1>
    </div>
    <div class="col-md-6 text-right">
      <h4 class="mt-2">ユーザー名 "<%= @user.name %>" さん</h4>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3 text-center">
      <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle" %>
      <% if @user.email != "guest@example.com" %>
        <div class="mt-4">
          <%= link_to edit_user_path(@user.id), class: "btn btn-warning btn-block" do %>
            <i class="fa-solid fa-user-gear"></i> プロフィール編集
          <% end %>
        </div>
      <% end %>
      <div class="mt-4">
        <%= link_to new_vegetable_path, class: "btn btn-primary btn-block" do %>
          <i class="fa-solid fa-pen"></i> 新規投稿
        <% end %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>投稿一覧</h2>
      <table class="table table-bordered mt-3 text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">画像</th>
            <th scope="col">名前</th>
            <th scope="col">ジャンル</th>
            <th scope="col">いいね</th>
            <th scope="col">コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @vegetables.each do |vege| %>
            <tr>
              <td><%= image_tag vege.get_image(100, 100) %></td>
              <td>
                <%= link_to vegetable_path(vege.id) do %>
                  <%= vege.name %>
                <% end %>
              </td>
              <td><%= vege.genre.name %></td>
              <td class="text-center">
                <% if vege.favorited_by?(current_user) %>
                  <%= link_to "❤ #{vege.favorites.count}", vegetable_favorite_path(vege), method: :delete, data: { confirm: "この野菜のいいねを外しますか？" }, class: "text-danger" %>
                <% else %>
                  <%= link_to "♡ #{vege.favorites.count}", vegetable_favorite_path(vege), method: :post, class: "text-muted" %>
                <% end %>
              </td>
              <td><%= @vegetable.comments.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
