<div class="main-bg custom-background h-100">
  <div class="container">
    <div class="row pt-5 justify-content-center">
      <h2 class="text-center">ユーザー画面</h2>
    </div>

    <div class="row">
      <div class="col-md-4 mt-4">
        <%= render "layouts/profile", user: @user %>
          <!--ログインしているユーザーのみボタンを表示 -->
        <% if @user == current_user %>
          <div class="mt-5">
            <%= link_to edit_user_path(@user), class: "btn btn-success form-control" do%>
              <i class="fa-solid fa-user-gear"></i>プロフィール編集
            <% end %>
          </div>
          <div class="mt-4">
            <%= link_to new_vegetable_path, class: "btn btn-primary btn-block" do %>
              <i class="fa-solid fa-pen"></i> 新規投稿
            <% end %>
          </div>
        <% end %>
      </div>
       <!-- 投稿一覧 -->
      <div class="col-md-7 ml-4">
        <h4 class="text-center mt-4">投稿一覧</h4>
        <table class="table table-bordered mt-3 text-center">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 15%;">画像</th>
              <th scope="col" style="width: 33%;">投稿名</th>
              <th scope="col" style="width: 20%;">ジャンル</th>
              <th scope="col" style="width: 15%;">いいね数</th>
              <th scope="col" style="width: 17%;">コメント数</th>
            </tr>
          </thead>
          <tbody>
            <% @vegetables.each do |vegetable| %>
              <tr>
                <td><%= image_tag vegetable.get_image(80, 80) %></td>
                <td>
                  <%= link_to vegetable.name, vegetable_path(vegetable.id) %>
                </td>
                <td><%= vegetable.genre.name %></td>
                <td class="text-center"><%= vegetable.favorites.count %></td>
                <td class="text-center"><%= vegetable.comments.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>































