 <div class="container">
  <div class="row">
    <h3 class="col mt-1 text-center">グループ検索結果画面</h3>
  </div>
  <div class="row text-center mt-2">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width: 15%;">グループ画像</th>
          <th scope="col" style="width: 25%;">グループ名</th>
          <th scope="col" style="width: 15%;">紹介文</th>
          <th scope="col" style="width: 10%;">人数</th>
      </thead>
      <tbody>
        <% groups.each do |group| %>
          <tr>
            <td><%= image_tag group.get_group_image(80, 80) %></td>
            <td>
              <% if current_admin %>
                <%= link_to group.name, admin_group_path(group.id) %>
              <% else %>
                <%= link_to group.name, group_path(group.id) %>
              <% end %>
            </td>
            <td><%= group.introduction %></td>
            <td><%= group.group_users.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>