<div class="container">
  <div class="row">
    <h3 class="col mt-1 text-center">ユーザー検索結果画面</h3>
  </div>
  <div class="row text-center mt-2">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width: 15%;">ユーザー画像</th>
          <th scope="col" style="width: 25%;">ユーザー名</th>
          <th scope="col" style="width: 15%;">投稿数</th>
          <th scope="col" style="width: 10%;">いいね数</th>
          <th scope="col" style="width: 10%;">コメント数</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(80, 80) %></td>
            <td>
              <% if current_admin %>
                <%= link_to user.name, admin_user_path(user.id) %>
              <% else %>
                <%= link_to user.name, user_path(user.id) %>
              <% end %>
            </td>
            <td><%= user.vegetables.count %></td>
            <td><%= user.favorites.count %></td>
            <td><%= user.comments.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>